.box {
   margin: 5vh 2vw;
   z-index: -5;
}

.box-outline {
   border: solid 5px #4A0D4A;
   background: transparent;
   max-width: 450px;
   width: 45vw;
   height: auto;
   margin: 0
}

.box-image {
   z-index: 2;
   transform: translate(8vw, 5vh);
   max-height: 60vh;
   height: calc(100vh - 10vw);
   width: auto
}
