html {
   overflow: hidden;
}

header,
main {
   position: relative;
}

header{
   padding: 0.5rem 0.5rem;
   overflow: hidden; 
   z-index: 4;
   background-color: transparent;
   margin: 1rem 0 0 0;
}

.container {
   height: 98vh;

   display: flex;
   flex: 1;
   justify-content: space-between;
   align-items: center;
}

.fluid {
   margin: 0;
}