.link {
   color:#4A0D4A;
   text-decoration: none;
   font-family: Bowlby One;
   font-size: calc(18px + (25 - 12) * ((100vw - 300px) / (1600 - 300)));
   padding: 0 0 0 0.25rem;
}

.link:hover {
   text-decoration: line-through solid #398FC7;
   color: #398FC7
}