header {
   margin: 1rem 0 0 0 ;
   padding: 0.5rem 0.5rem;
   position: absolute; 
   overflow: hidden; 
   top: 0
}

.paragraph {
   margin: 2rem 0
}

.text-regular {
   color:#4A0D4A;
   font-family: Bowlby One;
   font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
   padding: 0 1rem;
   margin: 0;
}

.text-larger {
   color:#4A0D4A;
   font-family: Bowlby One;
   font-size: calc(25px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
   padding: 0;
   margin: 0;
}

.text-largest {
   color: #398FC7;
   font-family: Bowlby One;
   font-size: calc(35px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
   padding: 0 0.5rem;
   margin: 0;
}

.text-vertical {
   transform: rotate(270deg);
   color: #398FC7;
   font-family: Bowlby One;
   font-size: calc(100px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
   z-index: 5;
   position: absolute
}

.blue {
   color: #398FC7;
   z-index: 1;
   margin: 0;
   transform: translateY(29vw);
}

.purple {
   color:#4A0D4A;
   z-index: 2; 
   margin: 0;
   transform: translateY(19vw); 
}

.liststyle {
   margin: 0;
   padding: 0
}

.listitem {
   list-style-type: none;
}

@media only screen and (max-width: 1026px) {
   .text-vertical{
       display: none;
   }
}