$font-stack: Bowlby One, Noto Serif;
$font-bowlby: Bowlby One;
$font-noto: Noto Serif;

$purple: #4A0D4A;
$blue: #398FC7;
$black: #000;
$white: #fff;
$off-white: #fefefe;
$dark-grey: #5E5E5E;
$light-grey: #eee;