@import "./variables";

a, p {
   color: $purple;
   font-family: $font-noto;
}

.card {

   &-box {
      display: flex;
      flex: 1;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;
   }
   
   &-main {
      flex: 3;
      overflow-x: hidden;
      overflow-y: scroll;
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: $off-white;
   }
   
   &-title {
      font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
      font-weight: bolder;
   }
   
   &-content {
      font-size: calc(16px + (18 - 8) * ((100vw - 300px) / (1600 - 300)));
      margin-right: 2rem;
   }
   
   &-footer {
      margin: 1vh 0 0 0 ;
      display: inline;
      font-size: calc(8px + (18 - 6) * ((100vw - 300px) / (1600 - 300)));
   }
   &-link {
      margin: 0;
      float: right;
      text-decoration: none;
   }
   
   &-link:hover {
      text-decoration: line-through solid $blue;
      color: $blue
   }
   
   /*SCROLLBAR STYLES*/
   &-main::-webkit-scrollbar {
      width: 0.6rem;     
    }
   
   &-main::-webkit-scrollbar-track {
      background: $light-grey;
    }
   
   &-main::-webkit-scrollbar-thumb {
      background-color:  $blue;
      border-radius: .25rem;
      height: 5rem;
    }
   
}