html {
   overflow: hidden;
   cursor: url("https://poems-by-thomas-kaar.s3.us-east-2.amazonaws.com/tommy_wine_head.png"), auto;
}

header,
main {
   position: relative;
}

header{
   padding: 0.5rem 0.5rem;
   overflow: hidden; 
   z-index: 4;
   background-color: transparent;
   margin: 1rem 0 0 0;
}

.my-container {
   height: 98vh;
   width: 95vw;

   display: flex;
   flex: 1;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.fluid {
   margin: 0;
}